.constructor{
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    align-items: stretch;
    gap: 1rem;
    width: 65vh;
}


.icon_text {
    padding: 12px;
}

.sum {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 4%;
    padding-right: 10%;
}

.container_ingredients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    max-height: 37vh;
  }

  .burger_ingredient{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .roll{
    padding-left: 4%;
    padding-right: 6%;
  }