.icon {
    width: 62px;
    height: 62px;
    box-sizing: content-box;
    border-radius: 50%;
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    padding: 2px;
    position: relative;
    margin-left: -16px;
  }
  
  .ingredientImage {
    width: 60px;
    height: 60px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    background: #131316;
    
  }