.order_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 720px;
    height: 718px;
    position: fixed;
    top: 10%;
    left: 30%;
    border-radius: 40px;
    background-color: rgba(28, 28, 33, 1);
}

.icon {
    text-align: right;
    width: 640px;
    height: 64px;

}