.container_ingredient {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.container_ingredient_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_cost {
    display: flex;
    justify-content: center;
}

.container_ingredient_counter {
    position: sticky;
    top: 0;
    right: 0;
}