.ingredient_info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;
    padding-bottom: 6%;

}
.ingredient_image{
    width: 25%;
    height: 25%;
    

}
.center_align{
    text-align: center;
}
.modal__image {
    cursor: pointer;

}

.description {
    display: flex;
    align-items: stretch;
    
}
.data_info{
    flex: 25%;
}