.ingredient_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 539px;
    position: relative;


}

.ingredient_image {
    width: 480px;
    height: 240px;


}

.image_ingredient_div {
    width: 520px;
    height: 240px;
    text-align: center;
}

.name_ingredient {
    text-align: center;
}

.modal__image {
    cursor: pointer;

}

.description {
    display: flex;
    align-items: stretch;
    width: 516px;
    height: 56px;

}

.data_info {
    flex: 25%;
}

.name_icon {


    text-align: left;
    width: 640px;
    height: 64px;

}