.constructor{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 6%;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.icon_text {
    padding: 12px;
}

.sum {
    composes: container;
    justify-content: right;
    padding: 4%;
}