.constructor{
    padding-top: 6%;
}


.icon_text {
    padding: 12px;
}

.sum {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 4%;
}